[Unit]
Description=Start driver for shanwan dual gamepad
After=dev-shanwan.device

[Service]
Type=oneshot
ExecStart=/usr/bin/shanwan-start.sh

[Install]
WantedBy=default.target
WantedBy=dev-shanwan.device
